@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
 }
/*------ fin de reset CSS-----*/

a {/*index.php    principal.php    preguntaXxxxx_00.php*/
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}
body{
	background-color:#F4FCFB;
}
.body_1{
	background-image: url("images/index_1.jpg");
}
button{
	cursor: pointer;
}
caption{
	height: 30px;
	line-height: 30px;
}
footer{
	background:rgba(4, 6, 82, 0.1);
	text-align:center;
	height: 20%;
	font-size: 8px;
	width: 100%;
	color:#040652;
	position: absolute; 
	border-top-color: #040652;
	border-top-style: solid;
	border-top-width: 2px;
}
header label{/*index.php*/
	display: none;
}
h1{/*todas las páginas*/ 
	background-color:#040652;
	font-family:'Caveat', cursive;
	font-size:4vw; 
	text-align:center;
	color:#40E0D0;/*Turquoise*/
	letter-spacing:1vw;
	cursor: pointer;
}
h2{/*titulos de páginas*/
	color:#040652;
	font-family:verdana;
	margin-top: 10%;
	text-align: center;
	font-size: 25px;
	margin-bottom: 5%;
}
h3{/*bloquearPregunta.php*/
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 18px;
	font-weight: 100;
	width: 60%;
	margin:auto;
}
h4{/*ultima.php    pregunta.php*/
	text-align: center;
	font-size: 2.3vw;
	color:grey;
	font-weight: bold;
	font-family:verdana;
	margin-top: 2%;
}
h5{/*index.php*/
	color:#40E0D0;/*Turquoise*/
	text-align: center;
	font-size: 2.3vw;
	font-weight: bold;
	font-family:verdana;
	padding-top: 0%;
}
hr{
	margin-bottom: 2%;
}
html{
	height:100%;
}
iframe{/*respuestas.php*/
	z-index: 1;
	width: 100%;
	height: 90%;
	position: absolute;
	top: 15%;
	left: 0%;
}
input{/*principal.php   registro.php*/
	font-size: 17px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3%;
	display: block;
	width: 70%;
}
input:focus{/*donde se encuentre el foco de un formulario*/
  	background-color: #EAF1FA;
} 
input[type=checkbox]{/*principal.php*/
	margin-left: -25%;
	margin-right: 0%;
}
input[type=file]{/*fotoPerfil.php*/
	font-size: 14px;
	height: 30px;
}
input[type=radio]{/*temas.php*/
	width: 10%;
	margin-left: 10%;
	display: inline-block;
}
input[type=submit]{/*principal.php   registro.php*/
	background-color:#040652 ;
	border-radius: 15px;
	color: rgba(194, 245, 19,1);
	font-size:16px;
	padding:2px 2px;
	width:90px;
	height: 30px;
	cursor: pointer;
}
legend{/*temas.php*/
	font-family: verdana;
	font-size: 18px;
	padding: 0px 10px;
	margin-bottom: 10px;
}
li{/*Todas las paginas del Responsive*/
	width: 80%;
	text-align:justify;
	line-height:20px;
}
p{/*principal.php    pregunta.php   respuest.php */
	padding: 0% 1%;
	font-size: 16px;
	font-family:verdana;
	text-align: center;
}
caption{/*ultimaDemo*/
	font-size: 16px;
	font-family:verdana;	
}
select{/*registro.php*/
	font-size: 17px;
	width: 250px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	display: block;
	width: 70%;
}
small{
	font-family: verdana;
	font-size: 11px;
}
span{
	font-size: 1.5vw;
	width: 20%;
	height: 3%;
	box-sizing: border-box;
}
textarea{
	width: 10%;
	height: 60%;
}
table{/*ultima.php   participantes.php*/
    width: 90%;
    border-collapse: collapse;
    border:1px;
    text-align: center; 
    margin-top: 0%; 
    margin-bottom: 7%; 
    margin-left: auto; 
    margin-right: auto;
} 
tr:hover{
    background-color: orange ; /*Cambio de color por cada registro de la tabla*/
}
th{/*ultima.php*/
	background-color: #040652;
	font-family:  'Montserrat', sans-serif;
	font-weight: normal;
	height: 25px;
	color: white;
	font-size: 14px;
}
td{
	width: 30px;
	font-size: 13px;
	font-family: verdana;
	line-height: 25px;
}
.a_1{/*index.php*/
	display: block;
	text-align: center;
	margin-top: 5%;
}
.a_2{/*recibe_demo.php*/
	background-color:white; 
	padding: 1% 2%; 
	font-size: 20px; 
	font-family:arial;
	text-decoration:none; 
	border-radius: 15px;
	position: absolute; 
	top: 55%; 
	left: 45%;
}
.a_3{/*entrada.php*/
	margin-top: 5% !important;
	margin-bottom: 2%;
}
.a_4{/*principal.php*/
	color:#040652 !important;
}
.a_5{/*instruccion.php*/
	display: block;
	text-align: center;
	margin-top: -2%;
	margin-bottom: 5%;
	font-size: 20px;
}
.a_6{/*perfil.php*/
	box-sizing:border-box; 
	margin-top:1% !important; 
	height:24px  !important;
	width: 90px !important; 
	line-height: 20px !important;
	color:rgba(194, 245, 19,1);
}
.Afiliacion_4{/*datos_personales*/
	border-radius: 15px;
	padding: 10px;
	box-sizing: border-box;
	margin: auto;
	margin-bottom: 40px;
	width: 90%;
	font-size: 14px;
}
.Afiliacion_4 .a_4{/*perfil.php*/
	color:  #040652;
	display: block;
	margin-bottom: 3%;
	font-size: 18px;
	width: 100%;
	text-align: center;
	cursor: pointer;
	padding: 0px;
	margin-left: 0px;
}
.Afiliacion_4 label{/*datos_personales principal.php*/
	font-size: 16px;
	margin-left: 15px;
	margin-right: 15px;
	padding: 2px;
	float: left;
	width: 170px;
	font-family:verdana;
}
.agradecimientos{/*registrarse.php*/
	padding: 0px 10px;
	padding-bottom: 0.5%;
	font-size: 1.2vw;
	letter-spacing: 1%;
	line-height: 150%;
	text-align: center;
	font-family:verdana;
	margin-bottom: 1%;
}
.anula{/*preguntaDemo_XX.php*/
	cursor: default;
}
.bloqueo_demo{/*respuestaDemo.php*/
	color:  rgba(194, 245, 19,1);
	font-size: 22px;  
	display: inline-block; 
	position: absolute;
	top: 45%;
	left: 30%;
	width: 40%;
	padding-top: 8%;
	padding-bottom: 5%;
}
.bloqueo_2{/*respuestaTrivia.php*/
	background-color: rgba(0,0,0,0.95);
	color:  rgba(194, 245, 19,1);
	font-size: 22px;  
	display: inline-block; 
	position: absolute;
	top: 45%;
	left: 30%;
	width: 40%;
	padding-top: 8%;
	padding-bottom: 3.5%;
}	
.bloqueo_2_a{/*bloquearPreguntaDemo.php  */
	background-color:rgba(0,0,0,0.95) ;
	color:  rgba(194, 245, 19,1);
	font-size: 18px; 
	position: absolute;
	top: 47.5% ;
	left: 27%;
	width: 40%;
	padding: 2%;
	height: 14%;
	line-height: 180%;
}	
.bloqueo_2_b{/*bloquearPreguntaDemo.php  */
	background-color:rgba(0,0,0,0.95) ;
	color: rgba(194, 245, 19,1) ;
	font-size: 18px; 
	position: absolute;
	top: 55% ;
	left: 30%;
	width: 40%;
	padding: 5% 2% 2% 2%;
	height: 14%;
	line-height: 180%;
}
.bloqueo_3{/*respuesta.php*/
	background-color: rgba(0,0,0,0.95);
	color:  rgba(194, 245, 19,1);
	font-size: 22px;  
	display: inline-block; 
	position: absolute;
	top: 45%;
	left: 30%;
	width: 40%;
	padding-top: 3.6%;
	padding-bottom: 5%;
}	
.bloqueo_3_a{/*prorroteoPuntos.php*/
	color:  rgba(194, 245, 19,1);
	font-size: 22px;  
	display: inline-block; 
	position: absolute;
	top: 62%;
	left: 35%;
	width: 20%;
	padding: 4% 5%;
}
.botonDemo{/*participantes.php*/
	background-color:#040652;
	text-align: center; 
	display: block; 
	margin-top: 15%; 
	font-size: 20px;  
	color: yellow; 
	border-radius: 15px; 
	padding: 0.5%
}
.br{/*club.php*/
	margin-bottom:10%;
}
.btn{/*index.php*/
	position: absolute;
	color:rgba(0,0,0,1) !important;
	font-family: verdana;
	z-index: 50;
	font-size: 17px;
	margin-left: 4% ;
	top: 46%;

	width: 90px;
	height: 40px !important;
	line-height: 20px;
	background-color: rgba(255,255,0,1) !important;
	/*background-color: #C7CFE4;*/
	border-radius: 20%;
	/* border-style: none; */
	text-align: center;
	padding-top: 0px;
	cursor: pointer;
	box-sizing: border-box;

	animation: modal 1.5s;/*tiempo que tarda en formarse la animacion*/
	animation-delay: 0s;/*tiempo que tarda en aparecer la animacion*/
	animation-fill-mode: forwards;/*la animacion se queda fija*/
	visibility: hidden;
	opacity: 0;
}
.buttonTres{/*index.php*/
	background:#040652;
	color: rgba(194, 245, 19,1);
	text-decoration:none;
	font-size:18px  !important;
	line-height: 24px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	padding:3px;
	box-sizing: border-box;
	width: 200px;
	height: 30px;
	box-shadow:0px 5px 5px #373c3c;
	text-align:center;
	border-radius:15px;
	box-sizing:border-box;
}
.buttonTres:hover{/*index.php*/
	box-shadow:0px 0px 0px;
	color: white;			
}
.buttonCuatro{/*index.php  regisro_Libre.php*/
	background:#040652;
	color: rgba(194, 245, 19,1);
	text-decoration:none;
	line-height: 23px !important;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	padding:3px;
	box-sizing: border-box;
	width: 100px;
	height: 30px;
	box-shadow:0px 5px 5px #373c3c;
	text-align:center;
	border-radius:15px;
	box-sizing:border-box;
}
.buttonCuatro:hover{/*index.php*/
	box-shadow:0px 0px 0px;
	color: white;			
}
.buttonCinco{/*bonos.php*/
	background:#040652;
	color: rgba(194, 245, 19,1);
	text-decoration:none;
	line-height: 23px !important;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	padding:3px;
	box-sizing: border-box;
	width: 100px;
	height: 30px;
	box-shadow:0px 5px 5px #373c3c;
	text-align:center;
	border-radius:15px;
	box-sizing:border-box;
	cursor: pointer;
}
.buttonCinco:hover{/*index.php*/
	box-shadow:0px 0px 0px;
	color: white;			
}
.caption_lider{/*ultima.php*/
	background-color: cyan;
	color: black;
}
.cerrar{/*entrada.php*/ 
	text-align: center; 
	padding: 3%; 
	display: block;
}
.contacto_2{/*contacto.php*/
	margin:auto ;
	margin-top: -3%;
	width: 35%;
 	line-height: 30px;
}
.contador{/*contacto.php  */
	width: 35px !important;
	margin-left: 87%;
	height: 16px;	
	line-height: 16px;
	font-size: 12px;
}
.contenedor_2{/*temas.php*/ 
	width:50% !important; 
	margin-top: 3%;
}
.contenedor_3{/*temas.php*/
	width: 20%; 
	margin: auto; 
	clear: left;
}
.contenedor_4{/*temas.php*/
	padding-top: 5%;
}
.contenedor_5{/*reglas_Trivia.php*/
	width: 85%;
}
.contenedor_6{/*preguntaDemo_XX.php*/
	background-color:#F4FCFB;
	cursor: pointer;
	width: 3%;
	position: absolute;
	bottom: 30pt;
	left: 0%;
	right: 0%;
	margin: auto;
	display: none;
	z-index: 2;
}
.contenedor_7{/*preguntaDemo_XX.php*/
	background-color: #040652;
	position: absolute;
	top:7%;
	width: 10%;
	font-family:verdana;
	text-align: center;
}
.contenedor_8{/*perfil.php*/
	width: 20%; 
	margin-left: 65%; 
	margin-top: 3%; 
	float: right; 
	position: fixed;
}
.contenedor_9{/*perfil.php*/
	position: fixed; 
	width: 20%; 
	margin-left: 65%; 
	display: flex; 
	justify-content: center; 
	margin-top: 17%
}
.contenedor_10{/*perfil.php*/
	float: left; 
	width: 40%; 
	margin-left: 10%;
}
.contenedor_11{ /*registro.php*/
	display: none;    
}
.contenedor_12{/*participacionHoy.php*/
	grid-template-columns: 130px 130px 130px ;
	margin:3% 0% 3% 7%;
	display: grid;
	justify-content: space-around;
	align-content: center;
	width: 80%;
}
.contenedor_12_a{/*participacionHoy.php*/
	grid-template-columns: 130px 130px 130px ;
	margin:3% 0% 3% 7%;
	display: grid;
	justify-content: space-around;
	align-content: center;
	width: 80%;
}
.contenedor_13_a{/*participacionHoy.php*/
	margin-top: 70%;
	width: 170% !important;
	margin-top: -30%;
}
.contenedor_13_b{/*participacionHoy.php*/
	margin-top: 60%;
	width: 170% !important;
	margin-top: 40%;
}
.contenedor_13_c{/*participacionHoy.php*/
	margin-top: 70%;
	width: 170% !important;
	margin-top: 70%;
}
.contenedor_14{/*participacionHoy.php*/
	width: 40%;
	margin: auto;
	text-align: center;
}
.contenedor_15{/*principal.php*/
	display: none;
}
.contenedor_16{/*principal.php */
	background-color: rgba(0,0,0,0);
	width: 40%;
	float: right;
	position: absolute;
	top: 50%;
	left: 30%;
	display: none;
	z-index: 4;
	margin-top: 0%; 
}
.contenedor_17{/*participacionHoy.php*/
	margin: -4% auto 8% auto !important;
	width: 60%;
	display: flex;
	justify-content: center;
}
.contenedor_18{/*participacionHoy.php*/
	display: none;
}
.contenedor_20{/*bonos.php*/
	display: grid;
	grid-template-columns:14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;
}
.contenedor_21{/*principal.php*/
	display: grid;
	grid-template-columns: 10% 55%;
	justify-content: center;
	margin: 3% auto;
}
.contenido_2{/*contacto.php*/
	width: 90%;
	height: 100px;
	margin: auto;
	overflow: hidden;
	padding:0% 2%;
	margin-left: 10px;
	font-size: 14px;
}
.cursor{/*header_usuario.html*/
	cursor: default;
}
.efecto:hover{/*preguntaXXXXX.php*/
	background-color:#040652 ;
	color:white;
	cursor: pointer;
	padding: 2% 0%;
	box-sizing: border-box;
}
.etiqueta{/*contacto.php*/
	float: left;
	padding-left: 5%;
	box-sizing: border-box;
	width: 100%;
	font-size: 17px;
	font-family:verdana;
}
.encabezado{/*pregunta.php*/
	color: white; 
	width: 100%;
}
.encabezado_2{/*pregunta.php  #040652*/
	position: absolute;
	top: 1%;
	left: 85%;
	color: yellow;
	text-align: center;
	font-family:verdana;
}
.entrada{/*entrada.php*/
	text-align: center;
	width: 37%;
	height: 30%;
}
.entrada_1{/*entrada.php*/
	text-align: center;
	margin-top: 4%;
}
.entrada_2{/*entrada.php*/
	margin:3% 2.5%;
	font-family:verdana;
}
.entrada_4{/*entrada.php*/
	width: 120%;
	/*margin:5% auto;
	min-height: 280px; */
}
.entrada_5{/*entrada.php*/ 
	grid-template-columns: 140px 140px 140px 140px 140px ;
	margin:auto;
	margin-top: 2%; 
	display: grid;
	justify-content: space-between;
	align-content: center;
	width: 80%;
}
.entrada_6{
	display: inline-block; 
}
.entradaParticipante{/*entrada.php*/
	margin:2.5% auto;
	font-family:verdana;
	width: 60%;
}
.etiqueta_3{/*FotoPerfil.php   perfil.php*/
	margin-bottom:2%;
	text-align: center;
	font-size: 16px !important;
	height:24px;
	width: 90% !important;
}
.etiqueta_32{/*datos_Personales.php*/
	margin-bottom:2%;
	font-size: 16px !important;
	text-align-last: center;
	height:24px;
	width: 49%;
}
.etiqueta_33{/*datos_personales.php*/
	width: 50% !important
}
.grafico{/*pregunta.php*/
	width: 40%;
	height: 100px !important;
	float: right;
}
.h_1{/*participacionHoy.php*/
	margin-top:0%
}
.hr_1{/*pregunta.php*/
	margin-top: -2%;
}
.imagen_6{/*index.php*/
	width: 40%; 
	height: 640px;
	display: block;
	margin: auto;
	filter: brightness(110%);
}
.imagen_7{/*participacionHoy.php*/
	width: 100%; 
	object-fit:contain ;/* deseado cover */
	filter: brightness(110%);
	height: 150px;
}
.imagen_8{/*FotoPerfil.php*/
	width: 70%; 
	object-fit:contain ;/* deseado cover */
	filter: brightness(110%);
	height: 250px;
}
.Inicio_0{/*instruccion.php*/
	width: 80%;
	font-family: 'Raleway';
	font-weight: bold;
	font-size:18px;
	padding-left: 15%;
	margin-top: -3%;
	margin-bottom: 4%;
	line-height: 140%;
}
.Inicio_1{/*index.php    principal.php*/ 
	font-family: 'Raleway', sans-serif;
	font-size:16px !important;
	width: 90%;
	margin: 5% auto;
	padding-bottom: 3%;
}
.Inicio_2{/*demo.php    contacto.php*/
	width: 40%;
	margin-left:auto;
	margin-right: auto;
	margin-bottom: -4%;
	border-radius: 15px;
	padding: 2%;
	padding-bottom: 1%;
	box-sizing: border-box;
}
.Inicio_3{/*instruccion.php    index.php*/ 
	font-family: 'Raleway', sans-serif;
	width: 70%;
	font-size:20px;
	margin: auto;
	margin-bottom: 4%;
	line-height: 150%;
}	
.Inicio_4{/*entrada*/ 
	font-family: 'Raleway', sans-serif;
	font-size:17px;
	font-weight: bold;	
}
.Inicio_5{/*ultima.php*/
	background-color:#F4FCFB ;
	color:#040652;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top:3%;
	margin-bottom: -0.5%;
	/* border-radius: 15px; */
	padding-bottom: 1%;
}
.Inicio_6{/*instruccion.php*/
	padding:2% 8%;
	text-align: left;
	color:#040652 ;
	width: 40%;
	font-size: 25px;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}
.Inicio_7{/*entrada.php*/ 
	font-family: 'Raleway', sans-serif;
	font-size:25px;
	width: 90%;
	margin:3% auto;
}
.Inicio_8{/*ultima.php*/
	background-color:yellow; 
	color: #040652;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	width: 30%;
	border-radius: 15px;
	display: block;
	margin: auto;
	padding: 1%;
	margin-top: 3% !important;
	text-align: center;
}
.Inicio_9{/*entrada.php*/ 
	font-family: 'Raleway', sans-serif;
	font-size:26px;
	font-weight: bold;
	width: 80%;
	margin: auto;
	margin-bottom: 4%;
	margin-top: 5%;
}	
.Inicio_10{/*participacionHoy.php*/
	display: block;
	text-align: center;
	color:#040652 ;
	width: 100%;
	font-size: 25px;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}
.Inicio_11{/*participacionHoy.php*/ 
	text-align: center;
	font-family: 'Raleway', sans-serif;
	display: block;
	width: 100%;
	font-size:16px;
	margin: auto;
	margin-top: 4%;
}	
.Inicio_12{/*index.php*/ 
	text-align: center;
	font-family: 'Raleway', sans-serif;
	display: block;
	width: 31%;
	font-size:18px;
	margin: auto;
	margin-top: 10%;
}		
.Inicio_13{/*index.php*/
	text-align: center;
	margin-bottom: 2%;
	margin-top:2%;
	color:#040652 ;
	width: 98%;
	font-size: 25px;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}
.Inicio_14{/*index.php  participacionHoy.php  pregunta.php*/ 
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	display: block;
	font-size:38px !important;
	font-weight: bold;
	margin: 2% auto;
	color:orange;
	text-align: center;
}	
.Inicio_15{/*participacionHoy.php*/
	margin-top: -65px !important;
	margin-bottom: 80px !important;
}
.Inicio_16{/*recibeCorreo.php*/
	font-size:22px !important;
	margin: 8% auto;
	display: block;
	text-align: center;
}
.Inicio_18{/*bonos.php*/ 
	font-family: 'Raleway', sans-serif;
	display: block;
	width: 35%;
	font-size:15px;
	margin-top: -3%;
	margin-bottom: 15%;
	line-height: 120%;
}	
.input_1{/*entrada.php*/
	position: absolute; 
	top: 10%; 
	left: 80%; 
	width:17%;
	background-color:#040652 ;
	text-align: right; 
	padding-right: 2%;  
	border:none; 
	color: yellow; 
	font-size: 19px;
}
.input_2{/*entrada.php*/
	position: absolute; 
	top: 70%; 
	left: 80%; 
	width:17%;
	background-color:#040652 ;
	text-align: right; 
	padding-right: 2%;  
	border:none; 
	color: yellow !important; 
	font-size: 19px;
	font-weight: bold;
}
.input_3{/*principal.php*/
	margin-top: 5%;
}
.input_5{/*recibeCorreo.php   InsertarCodigo.php*/
	width: 20%;
	font-size: 30px;
	height: 45px;
	color: rgba(4, 6, 82,0.5) ;
}
.label{/*registro_Libre.php*/
	font-size:  25px !important;
}
.label_1{/*bonos.php*/
	font-family: arial;
	color: black;
}
.listaDesordenada{
	background-color:red;
	width: 100%;
	font-size: 1.2vw;
	font-family:verdana;
	list-style: circle;
	list-style-position:inside;
	display: block;
	border-width: 0px;
	cursor: default;
	box-sizing: border-box;
	padding: 0.5% 5px;
	text-align: center;
}
.marcador{/*perfil.php*/ 
	text-align: center;
	line-height: 30px;
	display: inline-block;
	width: 100%;
	font-size: 18px !important;
}
.marcador:hover{/*reglas_Trivia.php*/ 
	background-color: #BCBEDA;
	color:white;
}
.menuResponsive{/*da formato a barra de menu y contiene todos los enlaces de la misma, solo a la del header*/
	height: 10%;
	width: 100%;
	float: left;
	margin-bottom: 3%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	font-family:verdana;
	clear: right;
}
.menuResponsive ul{/*Todas las páginas*/
	background-color:#040652 ;
	border-bottom-color: #040652;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	width: 100%;
	margin:auto;
	list-style: none;
	display: flex;
}
.menuResponsive li{/*Todas las páginas*/
	padding-bottom: 0.5%;
	flex-grow: 1;/*distribuye proporcionalmente los elementos internos en el eje horizontal, es necesario que el elemento padre tenga la propiedad display con el valor flex*/
	width: 80%;
}
.menuResponsive li a{/*Todas las páginas*/
	display: block;
	width: 150px;
	margin: auto;
	color: white;
	font-size: 16px;
	text-align: center;
	padding:3% 0%;
	height: 27px;
	box-sizing: border-box;
}
.menuResponsive li a:hover{/*Todas las páginas*/
	font-size: 19px;
	width: 185px;
}
.modal_2{/*participantes.php*/
	padding: 1% !important;
}
.mostrarTexto{/*Funciones_varias.js*/
	color: yellow;
	/* display: block;  */
	/* transition-property: display;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 0.2s; */
}
.n00{/*index.php*/
	width: 50%;
	height: 500px;
	float: left;
	padding-left: 3%;
	box-sizing: border-box;
	margin-top: 5%;
} 
.n20{/*index.php*/
	background: -webkit-linear-gradient(bottom, white 90%, #040652 10%);
	border:2px solid #000;
	border-radius:15px;
	padding-top: 0.5%;
	padding-bottom: 1.5%;
	box-sizing: border-box;
	margin-top: 2%;
 	margin-right: 11%;
 	width: 39%;
 	float: right;
 	line-height: 30px;
}
.nav{
	color: red;
	margin-right: 0px;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	box-sizing: border-box;
	display: block;
	font-family:verdana;
	font-size: 1.3vw;
	margin-left:50px;
	width: 140px;
	height: 150%;
	padding: 1% 1%;
}
.nav:hover, .nav_1:hover{
	/*font-size: 19px;*/
	font-weight: bold;
	font-size: 14px;
	box-sizing: border-box;
}
.nav_1{/*preguntaXxxx.php */
	margin: auto;
	display: block;
	text-align: center;
	font-size: 21px;
}
.nav_1:hover{/*preguntaXxxx.php */
	font-size: 23px;
}
.nav_2{/*entrada.php */
	font-size: 21px;
	padding-top: 1%;
	width: 70%;
	margin: auto;
}
.nav_4{/*entrada.php*/
	background-color: #F4FCFB;
	color:  rgba(4, 7, 82, 0.2) !important;
	border:none;
}
.nav_5{/*registrarse.php*/
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #040652;
	text-align: center;
	width: 70%;
	margin: auto;
	margin-top: 3%;
	margin-bottom: 1%;
}
.nav_5 a{/*registrarse.php*/
	color:#040652; 
	font-size: 25px;
	font-weight: bolder; 
	text-align: center;
}
.nav_6{/*entregistro_Pago.php */
	display: block;
	text-align: center;
	margin-top: 3%;
}
.nav_7{/*entrada.php*/
	background-color: #F4FCFB;
	cursor: pointer;
	display: block !important;
	text-align: center;
	margin-top: 5%;
	margin-left: auto; 
	margin-right: auto;
	margin-bottom: 4%;
	width: auto;
	border:none;
	color:#040652; 
	font-weight: bold;
}
.nav_7:hover{/*entrada.php*/
	background-color:#040652;
	color: white; 
}
.nav_8{/*temas.php*/
	color: #040652;
	font-family: verdana;
	cursor: pointer;
}
.nav_9{/*entrada.php*/
	background-color:#F4FCFB;
	cursor: pointer;
	display: inline-block !important;
	text-align: left;
	margin-top: 3%;
	margin-left: 25%;
	margin-right: auto;
	width: auto;
	border:none;
	color:#040652; 
}
.nav_9:hover, .nav_9:hover + span{/*entrada.php*/
	background-color:#040652;
	color: white; 
}
.nav_10{/*ultima.php  */
	background-color:#F4FCFB;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	margin-top: 3%;
	margin-left: 0%;
	margin-right: 1%;;
	width: 100%;
	border:none;
	color:#040652; 
}
.nav_10_a{/*ultima.php  */
	background-color:#F4FCFB;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	margin-top: 3%;
	margin-left: 0%;
	margin-right: 1%;;
	width: 100%;
	border:none;
	color:#040652; 
}
.nav_11{/*participacionHoy.php*/
	background-color: #F4FCFB;
	color:  rgba(4, 7, 82, 0.2)!important;
	font-family: 'Raleway', sans-serif;
	/* display:inline-block; */
	width: 10%;
	/* text-align: center;
	flex-grow: 1;distribuye proporcionalmente los elementos internos en el eje horizontal, es necesario que el elemento padre tenga la propiedad display con el valor flex */
}
.nav_12{/*participacionHoy.php*/
	background-color: #F4FCFB;
	color:  rgba(4, 7, 82, 1);
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	/* display:inline-block; */
	width: 10%;
	/* text-align: center;
	flex-grow: 1;distribuye proporcionalmente los elementos internos en el eje horizontal, es necesario que el elemento padre tenga la propiedad display con el valor flex */
}
.navegacion_2{/*ultima.php*/
	margin-left: 30%;
	margin-bottom: 5% !important;
	width: 40%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	font-family:verdana;
	font-size: 18px;
}
.nueva_Prueba{/*entrada.php*/
	background-color:rgba(255, 255, 0, 0.7) ;
	width: 50%;
	margin: auto;
	border-style: solid;
	border-width: 1px;
	border-radius: 15px;
	border-color: black;
	padding: 1%;
}
.ocultar{/*pregunta.php   instruccion.php*/
	display: none;
}
.parpadea{/*pregunta.php*/  
	animation-name: parpadeo;
	animation-duration: 1.5s;
	/* animation-delay: 3s; */
	animation-timing-function: linear;
	animation-iteration-count: infinite;
  
	-webkit-animation-name:parpadeo;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
  }
@-moz-keyframes parpadeo{  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
	0% { opacity: 1.0; }
	 50% { opacity: 0.0; }
	100% { opacity: 1.0; }
  }
.participaciones{/*participaciones.php*/
	width: 60%;
	margin:5% auto;
	min-height: 280px;
}
.participaciones_1{/*participaciones.php*/
	width:95%;
}
.piePagina{/*footer.php*/
	font-size: 11px;
}
.piePagina_2{/*footer.php*/
	position: absolute; 
	bottom: 0pt; 
	width: 100%; 
	padding-bottom: 0.5%;
}
.piePagina_3{/*todas las páginas*/
	bottom: -120pt;
}
.piePagina_4{
	top:125% !important;
}
.popup{/*tema.php*/
	cursor: default; 
	font-size: 5vw; 
	height: 10%; 
	text-align: center; 
	padding-left: 2%;
}
.pregunta{/* pregunta.php*/
	height: 100px;
	width: 70%;
	margin: 2% auto;
	line-height: 170%;
	font-size: 18px;
}
.Premio{
	display: flex;
	width: 60%;
	margin:2% auto;
}
.proposito{/*entrada*/
	color: white;
	font-family: verdana;
	font-size: 23px;
	height: 25px;
}
.proposito:hover{/*entrada*/
	color: white;
	font-family: verdana;
	font-size: 26px;
	box-sizing: border-box;
}
.prox{/*club.php*/
	margin-top: 15%;
}
.p_1{/*preguntaXxxxx.php*/
	width: 200px;
	color:yellow;
	display: block;
	font-size: 1.1vw;
	font-family:verdana;
	text-align: center;
}
.p_2{/*principal.php*/
	display: block;
	text-align: center !important;
}
.p_3{/*recibe_demo.php*/
	color:yellow; 
	position: absolute; 
	top: 45%; 
	left: 25%; 
	font-size: 30px; 
	font-family:arial;
}
.p4{/*registro_Libre.php*/
	font-size: 30px; 
	width: 60%; 
	margin:8% auto
}
.p_5{/*entrada.php*/
	font-size: 17px; 
	width: 60%; 
	margin:2% auto
}
.p_6{/*entrada.php*/
	text-align: center; 
	width: 100%;
	margin-bottom: 2%; 
}
.p_7{/*perfil.php*/
	background-color: #BEBFDD; 
	text-align: center; 
	margin-left: 0%; 
	margin-bottom: 2%; 
	font-size: 18px;
}
.Quinto{/*contenedor de opciones para responder (preguntaXxxxx_00.php)*/
	/* padding-top: 1%; */
	padding-bottom: 3%;
	width: 40%;
	height: 115px;
	margin: auto;
	border-top-color: #040652;
	border-bottom-color: rgb(4, 6, 82);
	border-bottom-style: solid;
	border-top-style: solid;
}
.Quinto_2{/*contenedor de opciones para responder (preguntaXxxxx_00.php)*/
	width: 100%;
	margin-bottom: 1%;
	display: flex;
	padding: 1.5% 0%;
	justify-content: space-between;
}
.Quinto_2 .efecto{/*pregunta.php*/
	display: inline-block;
	padding: 3% 0%;
	width: 48%;
}
.radio{/*participacionHoy.php*/
	cursor: pointer;
	margin-left: -2%;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}
.recordar{/*principal.php*/
	font-size: 14px !important; 
	font-family: verdana;
	font-weight: bold;
	width: 250px !important;
	cursor: pointer;
	margin-left: -15px !important;
	line-height: 10px;
}
.respuestaPreguntas{/*pregunta.php*/
	margin-top: 1%;
	text-align: center;
	box-sizing: border-box;
	font-size: 3vw;
	height: 10%;
}
.sesion_3{/*participantes.php*/
	margin-left: auto;
	margin-right: auto;
	height: 70%;
	width: 60%;
	overflow:auto;/*crea una barra vertical cuando la tabla es mas alta que el div que la contiene, 0 permite que el texto 
	se desborde de su contenedor*/
}
.Secundario{/*principal.php   preguntaXxxxx_00.php     contacto.php  registro.php    registrarse.php #040652*/
	width: 100%;
	margin-bottom: 8%;
}
.small{/*entrada*/
	color: #040652; 
	padding: 1.2% 3% 0.2% 3%;
	font-weight: bold; 
	font-style: italic;
	font-size:15px;
	margin-left: -2%;
}
.small_1{/*ultima.php*/
	margin-top: -25px;
	display: block;
	text-align: center;
}
.span_0{/*recibePago.php*/
	font-size:31px;
	margin: 3%;
}
.span_5{/*ultima.php*/
	font-family:courier; 
	font-size:35px !important; 
	color:orange;
}
.span_6{/*index.php*/
	font-family:courier; 
	font-weight: bold; 
	color:orange;
}
.span_7{/*demo.php*/
	font-family:'Caveat', cursive;
}
.span_8{/*entrada.php*/
	font-family:courier; 
	font-size:35px !important; 
	font-weight: bold;
	color:orange;
	margin: -2% 0% 3% 0%;
}
.span_8_a{/*entrada.php*/
	font-family:courier; 
	font-size:30px !important; 
	font-weight: bold;
	color:orange;
	margin: -2% 0% 3% 0%;
}
.span_9{/*principal.php*/
	line-height: 150%;
	font-family: 'Raleway', sans-serif; 
	font-size: 18px;
	text-align: center;
	color:#040652;
}
.span_10{/*instruccion.php*/ 
	display: block;
	font-family: courier;
	font-weight: bold;
	width: 70%;
	font-size:16px;
	margin-top: -3% !important;
	margin-bottom: 1%;
	padding-left: 15%;
}	
.span_11{/*instruccion.php*/ 
	margin-top: 0% !important;
	padding-left: 17%;
}
.super_in{/*entrada.php*/
	font-size: 10px;
}
.tabla_0{/*participantes.php   ultima.php*/
    padding: 1% 5%; 
    height: 20px;
    width: 50px;
    text-align: center;
}
.tabla_1{/*participantes.php*/
    height: 20px;
    width: 20px;
    text-align: center;
}
.tabla_3{/*ultima.php*/ 
	width: 50%; 
	margin: auto;
	margin-top:  5%;
}
.tabla_4{/*ultima.php*/ 
	width: 50%; 
	margin: auto;
	margin-top:  3%;
}
.tabla_5{/*bonos.php*/
	text-align: center;
	font-size: 10px;
}
.tabla_6{/*ultima.php*/
	display: block;
	text-align: center;
	font-size: 13px;
	height: 20px;
}
.tapa_2{/*principal.php*/
	background-color: rgba(0,0,0,0.85) ;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
	width: 100%;
}
.tema_1{/*temas.php*/ 
	margin:auto; 
	margin-top: 4%; 
	margin-bottom: -4%;
}
.tema_2{/*temas.php*/ 
	width: 40% !important; 
	margin: auto;
}
.temp{/*Temporizador*/
	 font-size:16px;
}
.th_1{/*bonos.php*/
	width:120px;
}
#MenuRes{/*header.html*/
	display:none ;
}