@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
 }
/*------ fin de reset CSS-----*/

a {/*index.php    principal.php    preguntaXxxxx_00.php*/
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}
body{
	background-color: #F4FCFB;
}
button{
	cursor: pointer;
}
header{/*todas las páginas*/
	background-color: ;
	margin-bottom: 7%;
}
header label{/*index.php*/
	display: none;
}
h1{/*todas las páginas*/
	background-color:#040652;
	font-family:'Caveat', cursive;
	font-size:5vw; 
	text-align:center;
	color:#575DCE;/*rgba(194, 245, 19,1)*/
	letter-spacing:1vw;
	padding-top: 1%;
	cursor: pointer;
}
h2{/*demo.php*/
	background-color:;
	font-family:verdana;
	margin-top: 0%;
	text-align: center;
	font-size: 25px;
	margin-bottom: 1%;
}
h3{/*respuestXxxxx_00.php    bloquearPregunta.php*/
	font-family:verdana;
	background-color:;
	text-align: center;
	font-size: 18px;
	font-weight: 100;
	width: 60%;
	margin:auto;
}
h4{/*ultimaXxxxx.php    preguntaXxxxx_00.php*/
	background-color: ;
	text-align: center;
	font-size: 2.3vw;
	color:grey;
	font-weight: bold;
	font-family:verdana;
	margin-top: 2%;
}
h5{/*index.php*/
	color:#575DCE;
	text-align: center;
	font-size: 2.3vw;
	font-weight: bold;
	font-family:verdana;
	padding-top: 0%;
}
h6{
	background-color:;
	height: 100%;
}
hr{
	margin-bottom: 2%;
}
html{
	height:100%;
}
img{
	width: 50%;
	margin:auto;
	display: block;
}
input{/*principal.php   registro.php*/
	background-color:;
	font-size: 17px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3%;
	display: block;
	width: 70%;
}
input:focus{/*donde se encuentre el foco de un formulario*/
  	background-color: #EAF1FA;
} 
input[type=checkbox]{/*principal.php*/
	background-color: ;
	width: 10%;
	margin-left: 10%;
	display: inline;
	margin-bottom: 8%;
}
input[type=submit]{/*principal.php   registro.php*/
	background-color:#040652 ;
	border-radius: 15px;
	color: rgba(194, 245, 19,1);
	font-size:16px;
	padding:2px 2px;
	width:90px;
	height: 30px;
	cursor: pointer;
}
legend{/*contacto.php*/
	background-color: ;
	font-family: verdana;
	font-size: 20px;
	padding: 0px 10px;
	margin-bottom: 10px;
}
li{/*Todas las paginas del Responsive*/
	background-color: ;
	width: 80%;
	text-align:justify;
	line-height:20px;
}
p{/*principal.php    preguntaXxxxx_00.php   respuestXxxxx_00.php */
	background-color:;
	padding: 0% 1%;
	font-size: 16px;
	font-family:verdana;
	color:;
	text-align: center;
}
select{/*registro.php*/
	background-color:blue;
	font-size: 17px;
	width: 250px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	display: block;
	width: 70%;
}
small{
	font-family: verdana;
	font-size: 11px;
}
span{
	background-color: ;
	font-weight: ;
	font-size: 1.5vw;
	width: 20%;
	height: 3%;
	box-sizing: border-box;
}
textarea{
	background-color: ;
	width: 10%;
	height: 60%;
}
table{
    width: 90%;
    border-collapse: collapse;
    border:1px;
    text-align: center; 
    margin-top: 0%; 
    margin-bottom: 10%; 
    margin-left: auto; 
    margin-right: auto;
} 
tr:hover{
    background-color: orange ; /*Cambio de color por cada registro de la tabla*/
}
th{
	background-color: #040652;
	font-family:  'Montserrat', sans-serif;
	font-weight: normal;
	height: 25px;
	color: white;
	font-size: 14px;
}
td{
	width: 30px;
	font-size: 13px;
	font-family: verdana;
	line-height: 25px;
}
ul{
	background-color: ;
}
#agradecimiento{/*registrarse.php*/
	background-color: red;
	margin-bottom: 1%; 
	width: 80%;
	font-size: 1.5vw;
}
#barras{
	background-color:;
	margin-right: 100px;
}
#container{/*desconocido*/
	background-color:#9FF781 ;
	width: 1000px;
	margin:auto;
}
#contacto_1{/*contenedor de formulario de contacto (contacto.html)*/
	background-color:;
	width: 50%;
	float: left;
	margin-left: 5%;
	margin-top: 5%;
	margin-bottom:2%;
}
#contacto_1 textarea{/*texarea de formulario de contacto (contacto.html)*/
	background-color:;
	width: 90%;
	margin-left: 4%;
	margin-top: 10px;
}
#entrada_1{/*entrada.php*/
	background-color: ;
	font-size:31px;
	text-align: center;
	width: 100%;
	margin-top: -5%;
	margin-bottom: 4%;
}
#entrada_3{
	background-color:blue ;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 3%;
	width: 100%;
	margin-top: 2%;
	margin-bottom:10%;
	border:3%; 
	border-top-style:  solid;
	border-bottom-style: solid;
	display: flex;
	justify-content: center;
}
#especial_1{/*entrada.php*/
	background-color: ;
	margin-top: 2%;
}
#Gratis{/*contenedor de datos de registro de participante registrarse.php)*/
	background-color:#BEBFDD ;
	width: 70%;
	margin: 10% auto;
	text-align: center;
	display: flex;
	justify-content: space-between;
	padding: 1.5% 1% 0% 1.5%;
	box-sizing: border-box;
	border-radius: 10px;
	border-style: solid;
}
#Inicio{/*principal.php   instruccion.php*/
	background-color: #F4FCFB;
	width: 40%;
	margin-top: 8%;
	margin-bottom: 2%;
	margin-left:auto;
	margin-right: auto;
	border-radius: 15px;
	padding: 15px;
	padding-bottom: 1%;
	box-sizing: border-box;
}
#Inicio a{/*principal.php*/
	background-color: ;
	color:#040652 !important;
}
#Inicio_1{/*registro.php*/
	background-color: #F4FCFB;
	width: 40%;
	margin-top: 8%;
	margin-bottom: 8%;
	margin-left:auto;
	margin-right: auto;
	border-radius: 15px;
	padding: 2%;
	padding-bottom: 1%;
	box-sizing: border-box;
}
#MenuRes{/*index.html*/
	display:none ;
}
.RegistroPago{/*registro_Pago.php*/
	background-color:;
	width: 95%;
	line-height: 200%;
	margin-bottom: 10%;
	margin: auto;
}
.RegistroPago_1{
	background-color:;
	width: 35%;
	margin: auto;
}
#pregunta_2{
	background-color:;
	width: 900px;
	clear: right;
	float: right;
	border-bottom-style: none;
}
#pregunta_1{
	background-color:;
	width: 1000px;
	clear: right;
	float: right;
}
#proposito{/*da formato a texto instrucciones en index.html*/
	background-color:;
	font-size: 1.5vw;
	float: right;
	margin-top: -1%;
	margin-left: -27%;
	margin-right: 20%;
	font-size: 1.7vw;
	width: 50%;
}
#proposito:hover{/*da formatotexto proposito y objetico en index.html*/
	background-color:;
	color: ;
	font-weight: bolder;
	font-size: 1.8vw;
}
#recibir{/*registro.php*/
	background-color: ;
	position: absolute;
	width: 36%;
	text-align: center;
	font-family: verdana;
	font-weight: bolder;
}
#Secundario_1{/*Contenedor en proposito.php*/
	background-color:;
	width: 80%;
	margin-bottom: 4%;
	margin-left:  auto;
	margin-right: auto;
}
#sesion_2{/*formato a contener de discriminación de posiciones (participantes.php)*/
	background-color: ;
	float: right;
	width: 40%;
	padding: 0% 5%;
	box-sizing: border-box;
}
#sesion_3{/*formato a contenedor de tabla de participantes (participantes.php)*/
	background-color:;
	margin-left: auto;
	margin-right: auto;
	height: 70%;
	width: 60%;
	overflow:auto;/*crea una barra vertical cuando la tabla es mas alta que el div que la contiene, 0 permite que el texto 
	se desborde de su contenedor*/
}
#Temporizador{/*entrada.php*/
	background-color:yellow ;
	margin: auto;
	width: 20%;
	border-color: black;
	border-style: solid;
	padding: 1% 0%;
	text-align: center; 
	font-family: verdana;
}
#Temporizador_2{
	background-color:;
	position: absolute;
	margin-left: 25%;
	width: 50%;
	height: 40px;
	text-align: center; 
	font-family: verdana;"
	font-size: 14px;
}
.Afiliacion_4{/*demo.php*/
	background-color:;
	border-radius: 15px;
	padding: 10px;
	box-sizing: border-box;
	margin: auto;
	margin-bottom: 40px;
	width: 90%;
	font-size: 14px;
}
.agradecimientos{/*registrarse.php*/
	background-color: ;
	padding: 0px 10px;
	padding-bottom: 0.5%;
	font-size: 1.2vw;
	letter-spacing: 1%;
	line-height: 150%;
	text-align: center;
	font-family:verdana;
	color:;
	margin-bottom: 1%;
}
.anula{/*le quita el cursor pointer a la etiequeta h1      preguntaXxxxxxx_00.php*/
	cursor: default;
	/*padding-top: 0% !important;*/
}
.anuncio{/*registro.php*/
	background-color: yellow;
	height: 40px;
}
.banco{/*contenedor de datos bancarios para pagos y datos de registro de participante (datosBancarios.php, registrarse.php)*/
	background-color: ;
	width: 60%;
	margin: auto;
	margin-top: 4%;
	margin-bottom: 6%;
	padding-left: 0%;
	box-sizing: border-box;
}	
.bloqueo{/*bloquearPregunta.php*/
	background-color:yellow ;
	font-size: 15px; 
	margin-top: 3%; 
	display: inline-block; 
}
.buttonCuatro{/*index.php*/
	background:#040652;
	color: rgba(194, 245, 19,1);
	text-decoration:none;
	font-size:15px  !important;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding:3px;
	width: 20%;
	height: 16%;
	box-shadow:0px 5px 5px #373c3c;
	text-align:center;
	border-radius:15px;
	box-sizing:border-box;
}
.buttonCuatro:hover{/*index.php*/
	box-shadow:0px 0px 0px;
	color: white;
	height: 16%;			
}
.boton_1{
	position: fixed;
}
.contacto_2{/*contacto.php*/
	background-color:;
	margin: 5% auto ;
	width: 35%;
}
.Cuarto{
	background-color:;
	margin-top: 140px;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	clear: left;
}
.Cuarto_2{/*Posiciona los botones Inicio, Atras en ultima pregunta*/
	background-color:;
	margin-top: 0%;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	clear: left;
}
.Cuarto_3{
	background-color:;
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	clear: left;
}
.Cuarto_4{/*contendor del texto "Debe constestar la pregunta anterior"*/
	background-color:;
	margin-top: 18%;
	display: flex;
	justify-content: center;
	margin-bottom: 15%;
}
.Cuarto_5{
	background-color:red;
	margin-top: 4%;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	clear: left;
}

.efecto:hover{/*preguntaXxxxx_00.php*/
	background-color:#040652 ;
	color:white;
	cursor: pointer;
}
.etiqueta{/*da formato a los label del formulario de contacto (contacto.html)*/
	background-color:;
	float: left;
	position: relative;
	width: 45%;
	font-size: 17px;
	font-family:verdana;
}
.encabezado{/*contenedor en preguntaXxxx_00.php*/
	background-color:;
	color: white; 
	width: 100%;
}
.encabezado_2{/*preguntaXxxx_00.php  #040652*/
	background-color: ;
	position: absolute;
	top: 2.5%;
	left: 90%;
	color: yellow;
	text-align: center;
	font-family:verdana;
}
.entrada{/*entrada.php*/
	background-color: ;
	text-align: center;
	width: 37%;
	height: 30%;
}
.entrada_2{/*entrada.php*/
	background-color:;
	margin:3% 2.5%;
	box-sizing: border-box;
	font-family:verdana;
}
.entrada_4{
	background-color: ;
	width: 20%;
}
.entrada_5{/*entrada.php*/
	background-color: ; 
	margin-top: 2%;
	border-top-color: #040652;
	border-top-style: solid;
	border-bottom-width: 1px;
	padding-top: 2%;
	display: flex;
	justify-content: space-around;
}
.entradaParticipante{/*entrada.php*/
	background-color:;
	margin:2.5% auto;
	display: flex;
	justify-content: space-between;
	font-family:verdana;
	width: 70%;
}
.Gratis_2{/*ultimaPreguntaGratis.php*/
	background-color:#BEBFDD ;
	width: 50%;
	margin: auto;
	text-align: center;
	margin-bottom: 1.8%;
	padding: 1% 3% 1% 3%;
	box-sizing: border-box;
	border-radius: 10px;
	border-style: solid;
}
.Inicio_1{/* index.php*/
	background-color:; 
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	width: 90%;
	margin: auto;
	padding-bottom: 3%;
}
.Inicio_2{/*demo.php*/
	background-color: ;
	width: 40%;
	margin-left:auto;
	margin-right: auto;
	margin-bottom: 6%;
	border-radius: 15px;
	padding: 2%;
	padding-bottom: 1%;
	box-sizing: border-box;
}
.Inicio_3{/*.php*/
	background-color:; 
	font-family: 'Raleway', sans-serif;
	width: 80%;
	font-size:20px;
	margin: auto;
	margin-bottom: 4%;
	line-height: 135%;
}	
.Inicio_4{/*entrada*/
	background-color:; 
	font-family: 'Raleway', sans-serif;
	font-size:17px;
	font-weight: bold;	
}
.inpCont{/*da formato  a los input del formulario de contacto (contacto.html)*/
	background-color:;
	width: 50%;
	font-size: 1.1vw;
	text-align: center;
	margin-bottom: 0.8%;
	margin-left: auto;
	margin-right: auto;
}
.input_1{
	position: absolute; 
	top: 12%; 
	left: 80%; 
	width:17%;
	background-color:#040652 ;
	text-align: right; 
	padding-right: 2%;  
	border:none; 
	color: yellow; 
	font-size: 18px;
}
.listaDesordenada{
	background-color:red;
	width: 100%;
	font-size: 1.2vw;
	font-family:verdana;
	list-style: circle;
	list-style-position:inside;
	display: block;
	border-width: 0px;
	cursor: default;
	box-sizing: border-box;
	padding: 0.5% 5px;
	text-align: center;
}
.menuResponsive{/*da formato a barra de menu y contiene todos los enlaces de la misma, solo a la del header*/
	background-color:;
	height: 10%;
	width: 100%;
	float: left;
	margin-bottom: 3%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	font-family:verdana;
	clear: right;
}
.menuResponsive ul{/*Todas las páginas*/
	background-color: #040652;
	border-bottom-color: #040652;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	width: 100%;
	margin:auto;
	list-style: none;
	display: flex;
}
.menuResponsive li{/*Todas las páginas*/
	background-color: ;
	padding-bottom: 0.5%;
	flex-grow: 1;/*distribuye proporcionalmente los elementos internos en el eje horizontal, es necesario que el elemento padre tenga la propiedad display con el valor flex*/
	/*width: 80%;*/
}
.menuResponsive li a{/*Todas las páginas*/
	background-color: ;
	display: block;
	width: 160px;
	margin: auto;
	color: white;
	font-size: 16px;
	text-align: center;
	padding:3% 0%;
	height: 27px;
	box-sizing: border-box;
}
.menuResponsive li a:hover{/*Todas las páginas*/
	background-color: ;
	font-size: 19px;
}
.n00{/*index.tml*/
	background-color: ;
	width: 50%;
	float: left;
	margin-left: 2%;
}
.n10{/*da formato a rectangulos en index.php*/
	background: -webkit-linear-gradient(bottom, white 75%, #040652 25%);
	border:2px solid #000;
	border-radius:15px;
	padding-top: 0.5%;
	padding-bottom: 15px;
	box-sizing: border-box;
 	width: 80%;
 	height: 16%;
 	float:right; ;
	margin: 0% 10%;
	margin-bottom: 5%;
	/*display: flex;
    justify-content:center;*/
}
.n10 p{/*index.tml*/
	background-color: ;
	padding-top: 1%; 
	padding-bottom: 6%
}
.n20{/*index.php*/
	background: -webkit-linear-gradient(bottom, white 87%, #040652 13%);
	border:2px solid #000;
	border-radius:15px;
	padding-top: 0.5%;
	padding-bottom: 1.5%;
	box-sizing: border-box;
	margin-top: -1%;
 	margin-right: 6%;
 	width: 39%;
 	float: right;
 	line-height: 30px;
}
.n20 p + p{/*index.html*/
	background-color: ;
}
.nav {
	background-color:;
	color: red;
	margin-right: 0px;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	box-sizing: border-box;
	display: block;
	font-family:verdana;
	font-size: 1.3vw;
	margin-left:50px;
	width: 140px;
	height: 150%;
	padding: 1% 1%;
}
.nav:hover, .nav_1:hover{
	/*font-size: 19px;*/
	font-weight: bold;
	font-size: 14px;
	background-color:;
	box-sizing: border-box;
}
.nav_1{/*preguntaXxxx.php */
	background-color: ;
	margin: auto;
	display: block;
	text-align: center;
	font-size: 21px;
}
.nav_1:hover{/*preguntaXxxx.php */
	background-color: ;
	font-size: 23px;
}
.nav_2{/*entrada.php */
	background-color: ;
	font-size: 21px;
}
.nav_6{/*entrregistro_Pago.php */
	background-color:;
	display: block;
	text-align: center;
	margin-top: 3%;
}
.nav_7{/*entrada.php */
	background-color:;
	display: block;
	text-align: center;
	margin-top: 3%;
}
.navegacion_1{/*preguntaXxxxx_00.php*/
	background-color:;
	position: absolute;
	bottom: 30pt;
	margin-left: 30%;
	width: 40%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	font-family:verdana;
}
.nav_5{/*registrarse.php*/
	background-color: ;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #040652;
	text-align: center;
	width: 70%;
	margin: auto;
	margin-top: 3%;
	margin-bottom: 1%;
}
.nav_5 a{/*registrarse.php*/
	color:#040652; 
	font-size: 25px;
	font-weight: bolder; 
	text-align: center;"
}
.nueva_Prueba{/*entrada.php*/
	background-color: ;
	width: 50%;
	margin: auto;
	border-style: solid;
	border-width: 1px;
	border-radius: 15px;
	border-color: black;
	padding: 1%;
}
.ocultar{/*entrada.php*/
	display: none;
}
.ocultarMenu{/*index.html*/
	display: none;
}
.pais{/*ultimaXxxxxx*/
	background-color: ;
	font-size: 28px;
	font-weight: bold;
	font-family: verdana;
}
.Posicion{/*link de la pagina actual en la barra de menu inferior*/
	background-color:;
	color: rgba(194, 245, 19,1) !important;
	font-weight: ;
}
.pregunta{/* preguntaXxxx_00.php*/
	background-color: ;
	height: 100px;
	width: 70%;
	margin: 2% auto;
	line-height: 170%;
	font-size: 18px;
}
.proposito{/*entrada*/
	color: white;
	font-family: verdana;
	font-size: 23px;
	height: 25px;
}
.proposito:hover{/*entrada*/
	color: white;
	font-family: verdana;
	font-size: 26px;
	box-sizing: border-box;
}
.p_1{/*da formato al texto que indica el puntaje el las preguntas preguntaXxxxx_00.php*/
	background-color: ;
	color: yellow;
	font-size: 1.1vw;
	font-family:verdana;
	text-align: center;
	margin-left: auto;
}
.Quinto{/*contenedor de opciones para responder (preguntaXxxxx_00.php)*/
	background-color:;
	padding-top: 1%;
	width: 30%;
	height: 115px;
	margin: auto;
	border-top-color: #040652;
	border-bottom-color: #040652;
	border-bottom-style: solid;
	border-top-style: solid;
}
.Quinto_2{/*contenedor de opciones para responder (preguntaXxxxx_00.php)*/
	background-color:;
	width: 100%;
	margin-top: 1%;
	margin-bottom: 8%;
	display: flex;
	justify-content: space-between;
}
.Quinto_2 .efecto{/*preguntaXxxxx_00.php*/
	background-color: ;
	display: inline;
	width: 50%;
}
.recordar{/*principal.php*/
	background-color:;
	font-size: 12px; 
	font-family:verdana;
	font-weight: 100;
}
.recordar_1{/*principal.php*/
	margin-left: -5%;
	padding: 0px;
}
.respuestaPreguntas{/*preguntaXxxxx_00.php*/
	background-color:;
	margin-top: 1%;
	text-align: center;
	box-sizing: border-box;
	font-size: 3vw;
	height: 10%;
}
.Secundario{/*principal.php   preguntaXxxxx_00.php     contacto.php  registro.php    registrarse.php #040652*/
	background-color:;
	width: 100%;
}
.Sexto{
	background-color:;
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	clear: left;
}
.span_0{/*entrada*/
	background-color: ;
	font-size:31px;
}
.span_1{/*entrada*/
	background-color: ;
	font-size:30px;
}
.span_2{/*entrada*/
	font-size:17px;
}
.span_3{/*entrada*/
	font-size:14px;
}
.span_4{/*PreguntaXxxxx_00.php*/
	background-color: ;
	font-size: 16px;
}
.subtitulos{/*principal.php      contactenos.php*/
	background-color:;
	font-family:verdana;
	text-align: center;
	font-size: 2vw;
	margin-bottom: 2%;
}
.tabla_0{/*participantes.php*/
    background-color:;
    padding-left: 5%; 
    height: 20px;
    width: 50px;
    text-align: left;
}
.tabla_1{/*participantes.php*/
    background-color:;
    height: 20px;
    width: 20px;
    text-align: center;
}
.tabla_3{
	background-color: ;
	width: 10px; 
	text-align: center;
}
.tachado{/*entrada.php*/
	text-decoration: line-through;
}
.temp{/*Temporizador*/
	 background-color:; 
	 font-size:16px;
}
.tiempo{
	background-color: #040652;
	font-size: 2.1vw;
	font-family:verdana;
	color:yellow;
	text-align: center;
	display: inline-block;
}
.tiempo_2{
	background-color: ;
	display: flex;
	justify-content:space-around;
}
.Tercero{
	background-color:;
	margin-top: 5%;
	display: flex;
	justify-content: center;
}