@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
 }
/*------ fin de reset CSS-----*/

a {/*index.php    principal.php    preguntaXxxxx_00.php*/
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}
body{
	background-color:#F4FCFB;
}
button{
	cursor: pointer;
}
footer{
	background:rgba(4, 6, 82, 0.1);
	text-align:center;
	height: 20%;
	font-size: 8px;
	width: 100%;
	color:#040652;
	position: absolute; 
	border-top-color: #040652;
	border-top-style: solid;
	border-top-width: 2px;
}
header label{/*index.php*/
	display: none;
}
h1{/*todas las páginas*/
	background-color:#040652;
	font-family:'Caveat', cursive;
	font-size:4vw; 
	text-align:center;
	color:#40E0D0;/*Turquoise*/
	letter-spacing:1vw;
	cursor: pointer;
}
h2{/*titulos de páginas*/
	color:#040652;
	font-family:verdana;
	margin-top: 10%;
	text-align: center;
	font-size: 25px;
	margin-bottom: 10%;
}
h3{/*bloquearPregunta.php*/
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 18px;
	font-weight: 100;
	width: 60%;
	margin:auto;
}
h4{/*ultima.php    pregunta.php*/
	text-align: center;
	font-size: 2.3vw;
	color:grey;
	font-weight: bold;
	font-family:verdana;
	margin-top: 2%;
}
h5{/*index.php*/
	color:#40E0D0;/*Turquoise*/
	text-align: center;
	font-size: 2.3vw;
	font-weight: bold;
	font-family:verdana;
	padding-top: 0%;
}
hr{
	margin-bottom: 2%;
}
html{
	height:100%;
}
iframe{/*respuestas.php*/
	width: 100%;
	position: absolute;
	top: 25%;
	left: 0%;
}
input{/*principal.php   registro.php*/
	font-size: 17px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3%;
	display: block;
	width: 70%;
}
input:focus{/*donde se encuentre el foco de un formulario*/
  	background-color: #EAF1FA;
} 
input[type=checkbox]{/*principal.php*/
	width: 10%;
	margin-left: 10%;
	display: inline-block;
	margin-bottom: 8%;
}
input[type=radio]{/*temas.php*/
	width: 10%;
	margin-left: 10%;
	display: inline-block;
}
input[type=submit]{/*principal.php   registro.php*/
	background-color:#040652 ;
	border-radius: 15px;
	color: rgba(194, 245, 19,1);
	font-size:16px;
	padding:2px 2px;
	width:90px;
	height: 30px;
	cursor: pointer;
}
legend{/*temas.php*/
	font-family: verdana;
	font-size: 18px;
	padding: 0px 10px;
	margin-bottom: 10px;
}
li{/*Todas las paginas del Responsive*/
	width: 80%;
	text-align:justify;
	line-height:20px;
}
p{/*principal.php    pregunta.php   respuest.php */
	padding: 0% 1%;
	font-size: 16px;
	font-family:verdana;
	color:;
	text-align: center;
}
caption{/*ultimaDemo*/
	font-size: 16px;
	font-family:verdana;	
}
select{/*registro.php*/
	background-color:blue;
	font-size: 17px;
	width: 250px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	display: block;
	width: 70%;
}
small{
	font-family: verdana;
	font-size: 11px;
}
span{
	font-weight: ;
	font-size: 1.5vw;
	width: 20%;
	height: 3%;
	box-sizing: border-box;
}
textarea{
	width: 10%;
	height: 60%;
}
table{
    width: 90%;
    border-collapse: collapse;
    border:1px;
    text-align: center; 
    margin-top: 0%; 
    margin-bottom: 10%; 
    margin-left: auto; 
    margin-right: auto;
} 
tr:hover{
    background-color: orange ; /*Cambio de color por cada registro de la tabla*/
}
th{/*ultima.php*/
	background-color: #040652;
	font-family:  'Montserrat', sans-serif;
	font-weight: normal;
	height: 25px;
	color: white;
	font-size: 14px;
}
td{
	width: 30px;
	font-size: 13px;
	font-family: verdana;
	line-height: 25px;
}
.Afiliacion_4{/*todos los formularios*/
	border-radius: 15px;
	padding: 10px;
	box-sizing: border-box;
	margin: auto;
	margin-bottom: 40px;
	width: 90%;
	font-size: 14px;
}
.agradecimientos{/*registrarse.php*/
	padding: 0px 10px;
	padding-bottom: 0.5%;
	font-size: 1.2vw;
	letter-spacing: 1%;
	line-height: 150%;
	text-align: center;
	font-family:verdana;
	color:;
	margin-bottom: 1%;
}
.anula{/*pregunta.php*/
	cursor: default;
}
.bloqueo{/*bloquearPregunta.php*/
	background-color: rgba(0,0,0,0.85);
	color:  rgba(194, 245, 19,1);
	font-size: 22px;  
	display: inline-block; 
	position: absolute;
	top: 51.5%;
	left: 35%;
	width: 20%;
	padding: 3.6% 5%;
}	
.bloqueo_2{/*bloquearPregunta.php*/
	background-color: rgba(0,0,0,0.85);
	color:  rgba(194, 245, 19,1);
	font-size: 22px;  
	display: inline-block; 
	position: absolute;
	top: 51.5%;
	left: 35%;
	width: 20%;
	padding: 3.6% 5%;
}
.botonDemo{/*participantes.php*/
	background-color:#040652;
	text-align: center; 
	display: block; 
	margin-top: 15%; 
	font-size: 20px;  
	color: yellow; 
	border-radius: 15px; 
	padding: 0.5%
}
.buttonCuatro{/*index.php*/
	background:#040652;
	color: rgba(194, 245, 19,1);
	text-decoration:none;
	font-size:15px  !important;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	padding:3px;
	width: 20%;
	height: 16%;
	box-shadow:0px 5px 5px #373c3c;
	text-align:center;
	border-radius:15px;
	box-sizing:border-box;
}
.buttonCuatro:hover{/*index.php*/
	box-shadow:0px 0px 0px;
	color: white;
	height: 16%;			
}
.caption_correc{/*ultimaDemo*/	
	background-color: green;
	color: white;
}
.caption_incorrec{/*ultimaDemo*/
	background-color: red;
	color: white;
}
.cerrar{/*entrada.php*/ 
	text-align: center; 
	padding: 3%; 
	display: block;
}
.contacto_2{/*contacto.php*/
	margin:auto ;
	margin-top: -6%;
	width: 35%;
 	line-height: 30px;
}
.contador{/*contacto.php  */
	width: 35px !important;
	margin-left: 87%;
	height: 16px;	
	line-height: 16px;
	font-size: 12px;
}
.contenedor_2{/*temas.php*/ 
	width:50% !important; 
	margin-top: 3%;
}
.contenedor_3{/*temas.php*/
	width: 20%; 
	margin: auto; 
	clear: left;
}
.contenedor_4{/*temas.php*/
	padding-top: 5%;
}
.contenido_2{/*contacto.php*/
	width: 90%;
	height: 100px;
	margin: auto;
	overflow: hidden;
	padding:0% 2%;
	margin-left: 10px;
	font-size: 14px;
}
.cursor{/*header_usuario.html*/
	cursor: default;
}
.efecto:hover{/*pregunta.php*/
	background-color:#040652 ;
	color:white;
	cursor: pointer;
}
.etiqueta{/*contacto.php*/
	float: left;
	padding-left: 5%;
	box-sizing: border-box;
	width: 100%;
	font-size: 17px;
	font-family:verdana;
}
.encabezado{/*pregunta.php*/
	color: white; 
	width: 100%;
}
.encabezado_2{/*pregunta.php  #040652*/
	position: absolute;
	top: 1%;
	left: 85%;
	color: yellow;
	text-align: center;
	font-family:verdana;
}
.entrada{/*entrada.php*/
	text-align: center;
	width: 37%;
	height: 30%;
}
.entrada_1{/*entrada.php*/
	text-align: center;
	margin-top: 4%;
}
.entrada_2{/*entrada.php*/
	margin:3% 2.5%;
	font-family:verdana;
}
.entrada_4{/*entrada.php*/
	width: 30%;
	margin:5% auto;
	min-height: 280px;
}
.entrada_5{/*entrada.php*/ 
	margin-top: -4%;
	margin:auto;
	padding-top: 2%;
	display: flex;
	width: 80%;
	justify-content: center;
}
.entrada_6{
	display: inline-block; 
}
.entradaParticipante{/*entrada.php*/
	margin:2.5% auto;
	font-family:verdana;
	width: 60%;
}
.grafico{/*pregunta.php*/
	width: 40%;
	height: 100px !important;
	float: right;
}
.Inicio_0{/*instruccion.php*/
	width: 80%;
	font-family: 'Raleway';
	font-weight: bold;
	font-size:18px;
	padding-left: 15%;
	margin-top: -3%;
	margin-bottom: 4%;
	line-height: 140%;
}
.Inicio_1{/*index.php*/ 
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	width: 90%;
	margin: 5% auto;
	padding-bottom: 3%;
}
.Inicio_2{/*demo.php    contacto.php*/
	width: 40%;
	margin-left:auto;
	margin-right: auto;
	margin-bottom: 6%;
	border-radius: 15px;
	padding: 2%;
	padding-bottom: 1%;
	box-sizing: border-box;
}
.Inicio_3{/*instruccion.php*/ 
	font-family: 'Raleway', sans-serif;
	width: 80%;
	font-size:20px;
	margin: auto;
	margin-bottom: 4%;
	line-height: 135%;
}	
.Inicio_4{/*entrada*/ 
	font-family: 'Raleway', sans-serif;
	font-size:17px;
	font-weight: bold;	
}
.Inicio_5{/*ultima.php*/
	background-color:#F4FCFB ;
	width: 40%;
	margin:1% auto;
	border-radius: 15px;
	padding-bottom: 1%;
}
.Inicio_6{/*instruccion.php*/
	padding:4% 8%;
	text-align: left;
	color:#040652 ;
	width: 40%;
	font-size: 25px;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}
.Inicio_7{/*recibePago.php*/ 
	font-family: 'Raleway', sans-serif;
	font-size:18px;
	width: 90%;
	margin:2% auto;
}
.Inicio_8{/*ultima.php*/
	background-color:yellow; 
	color: #040652;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	width: 30%;
	border-radius: 15px;
	display: block;
	margin: auto;
	padding: 1%;
	margin-top: -20px !important;
	text-align: center;
}
.Inicio_9{/*entrada.php*/ 
	font-family: 'Raleway', sans-serif;
	width: 80%;
	font-size:20px;
	margin: auto;
	margin-bottom: 4%;
	margin-top: 5%;
}	
.input_1{/*entrada.php*/
	position: absolute; 
	top: 10%; 
	left: 80%; 
	width:17%;
	background-color:#040652 ;
	text-align: right; 
	padding-right: 2%;  
	border:none; 
	color: yellow; 
	font-size: 19px;
}
.input_2{/*entrada.php*/
	position: absolute; 
	top: 70%; 
	left: 80%; 
	width:17%;
	background-color:#040652 ;
	text-align: right; 
	padding-right: 2%;  
	border:none; 
	color: yellow !important; 
	font-size: 19px;
	font-weight: bold;
}
.listaDesordenada{
	background-color:red;
	width: 100%;
	font-size: 1.2vw;
	font-family:verdana;
	list-style: circle;
	list-style-position:inside;
	display: block;
	border-width: 0px;
	cursor: default;
	box-sizing: border-box;
	padding: 0.5% 5px;
	text-align: center;
}
.menuResponsive{/*da formato a barra de menu y contiene todos los enlaces de la misma, solo a la del header*/
	height: 10%;
	width: 100%;
	float: left;
	margin-bottom: 3%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	font-family:verdana;
	clear: right;
}
.menuResponsive ul{/*Todas las páginas*/
	background-color:#040652 ;
	border-bottom-color: #040652;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	width: 100%;
	margin:auto;
	list-style: none;
	display: flex;
}
.menuResponsive li{/*Todas las páginas*/
	padding-bottom: 0.5%;
	flex-grow: 1;/*distribuye proporcionalmente los elementos internos en el eje horizontal, es necesario que el elemento padre tenga la propiedad display con el valor flex*/
	/*width: 80%;*/
}
.menuResponsive li a{/*Todas las páginas*/
	display: block;
	width: 160px;
	margin: auto;
	color: white;
	font-size: 16px;
	text-align: center;
	padding:3% 0%;
	height: 27px;
	box-sizing: border-box;
}
.menuResponsive li a:hover{/*Todas las páginas*/
	font-size: 19px;
	width: 200px;
}
.modal_2{/*participantes.php*/
	padding: 1% !important;
}
.n00{/*index.tml*/
	width: 55%;
	float: left;
	padding-left: 10%;
	box-sizing: border-box;
	margin-top: 3%;
} 
.n10{/*index.php*/
	background: -webkit-linear-gradient(bottom, white 70%, #040652 30%);
	border:2px solid #000;
	border-radius:15px;
	padding-top: 0.5%;
	padding-bottom: 5%;
	box-sizing: border-box;
 	width: 50%;
	margin: 7% 10%;
	margin-bottom: 7%;
}
.n20{/*index.php*/
	background: -webkit-linear-gradient(bottom, white 90%, #040652 10%);
	border:2px solid #000;
	border-radius:15px;
	padding-top: 0.5%;
	padding-bottom: 1.5%;
	box-sizing: border-box;
	margin-top: 2%;
 	margin-right: 6%;
 	width: 39%;
 	float: right;
 	line-height: 30px;
}
.nav{
	color: red;
	margin-right: 0px;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	box-sizing: border-box;
	display: block;
	font-family:verdana;
	font-size: 1.3vw;
	margin-left:50px;
	width: 140px;
	height: 150%;
	padding: 1% 1%;
}
.nav:hover, .nav_1:hover{
	/*font-size: 19px;*/
	font-weight: bold;
	font-size: 14px;
	box-sizing: border-box;
}
.nav_1{/*preguntaXxxx.php */
	margin: auto;
	display: block;
	text-align: center;
	font-size: 21px;
}
.nav_1:hover{/*preguntaXxxx.php */
	font-size: 23px;
}
.nav_2{/*entrada.php */
	font-size: 21px;
	border-top-color: #040652;
	border-top-style: solid;
	border-bottom-width: 1px;
	padding-top: 3%;
}
.nav_6{/*entrregistro_Pago.php */
	display: block;
	text-align: center;
	margin-top: 3%;
}
.nav_7{/*entrada.php*/
	background-color:#F4FCFB;
	cursor: pointer;
	display: inline-block !important;
	text-align: left;
	margin-top: 3%;
	margin-left: 25%;
	margin-right: auto;
	width: auto;
	border:none;
	color:#040652; 
}
.nav_7:hover{/*entrada.php*/
	background-color:#040652;
	color: white; 
}
.nav_8{/*temas.php*/
	color: #040652;
	font-family: verdana;
	margin-bottom: -5% !important;
}
.nav_9{/*entrada.php*/
	background-color:#F4FCFB;
	cursor: pointer;
	display: inline-block !important;
	text-align: left;
	margin-top: 3%;
	margin-left: 25%;
	margin-right: auto;
	width: auto;
	border:none;
	color:#040652; 
}
.nav_9:hover, .nav_9:hover + span{/*entrada.php*/
	background-color:#040652;
	color: white; 
}
.nav_10{/*pregunta.php   ultima.php*/
	background-color:#F4FCFB;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	margin-top: 3%;
	margin-left: 0%;
	margin-right: auto;
	width: 100%;
	border:none;
	color:#040652; 
}
.navegacion_1{/*pregunta.php*/
	position: absolute;
	bottom: 30pt;
	left: 0%;
	right: 0%;
	margin: auto;
	width: 50%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	font-family:verdana;
}
.navegacion_2{/*ultima.php*/
	position: absolute;
	margin-left: 30%;
	padding-bottom: 4%;
	width: 40%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	font-family:verdana;
}
.nav_5{/*registrarse.php*/
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #040652;
	text-align: center;
	width: 70%;
	margin: auto;
	margin-top: 3%;
	margin-bottom: 1%;
}
.nav_5 a{/*registrarse.php*/
	color:#040652; 
	font-size: 25px;
	font-weight: bolder; 
	text-align: center;"
}
.nueva_Prueba{/*entrada.php*/
	background-color:rgba(255, 255, 0, 0.7) ;
	width: 50%;
	margin: auto;
	border-style: solid;
	border-width: 1px;
	border-radius: 15px;
	border-color: black;
	padding: 1%;
}
.ocultar{/*pregunta.php*/
	display: none;
}
.ocultar_1{/*pregunta.php*/
	display: ;
}
.participaciones{/*participaciones.php*/
	width: 60%;
	margin:5% auto;
	min-height: 280px;
}
.participaciones_1{/*participaciones.php*/
	width:95%;
}
.piePagina{/*footer.php*/
	font-size: 11px;
}
.piePagina_2{/*footer.php*/
	position: absolute; 
	bottom: 0pt; 
	width: 100%; 
	padding-bottom: 0.5%;
}
.piePagina_3{/*todas las páginas*/
	bottom: -120pt;
}
.popup{/*tema.php*/
	cursor: default; 
	font-size: 5vw; 
	height: 10%; 
	text-align: center; 
	padding-left: 2%;
}
.pregunta{/* pregunta.php*/
	height: 100px;
	width: 70%;
	margin: 2% auto;
	line-height: 170%;
	font-size: 18px;
}
.Premio{
	display: flex;
	width: 60%;
	margin:2% auto;
}
.proposito{/*entrada*/
	color: white;
	font-family: verdana;
	font-size: 23px;
	height: 25px;
}
.proposito:hover{/*entrada*/
	color: white;
	font-family: verdana;
	font-size: 26px;
	box-sizing: border-box;
}
.p_1{/*da formato al texto que indica el puntaje el las preguntas preguntaXxxxx_00.php*/
	width: 200px;
	color: yellow;
	display: block;
	font-size: 1.1vw;
	font-family:verdana;
	text-align: center;
}
.Quinto{/*contenedor de opciones para responder (preguntaXxxxx_00.php)*/
	padding-top: 1%;
	width: 30%;
	height: 115px;
	margin: auto;
	border-top-color: #040652;
	border-bottom-color: #040652;
	border-bottom-style: solid;
	border-top-style: solid;
}
.Quinto_2{/*contenedor de opciones para responder (preguntaXxxxx_00.php)*/
	width: 100%;
	margin-top: 1%;
	margin-bottom: 8%;
	display: flex;
	justify-content: space-between;
}
.Quinto_2 .efecto{/*pregunta.php*/
	display: inline-block;
	width: 50%;
}
.recordar{/*principal.php*/
	font-size: 12px; 
	font-family:verdana;
	font-weight: 100;
}
.recordar_1{/*principal.php*/
	margin-left: -5%;
	padding: 0px;
}
.respuestaPreguntas{/*pregunta.php*/
	margin-top: 1%;
	text-align: center;
	box-sizing: border-box;
	font-size: 3vw;
	height: 10%;
}
.sesion_3{/*participantes.php*/
	margin-left: auto;
	margin-right: auto;
	height: 70%;
	width: 60%;
	overflow:auto;/*crea una barra vertical cuando la tabla es mas alta que el div que la contiene, 0 permite que el texto 
	se desborde de su contenedor*/
}
.Secundario{/*principal.php   preguntaXxxxx_00.php     contacto.php  registro.php    registrarse.php #040652*/
	width: 100%;
}
.small{/*entrada*/
	color: #040652; 
	padding: 1.2% 3% 0.2% 3%;
	font-weight: bold; 
	font-style: italic;
	font-size:15px;
	margin-left: -2%;
}
.span_0{/*recibePago.php*/
	font-size:31px;
	margin: 3%;
}
.super_in{/*entrada.php*/
	font-size: 10px;
}
.tabla_0{/*participantes.php*/
    padding: 1% 5%; 
    height: 20px;
    width: 50px;
    text-align: center;
}
.tabla_1{/*participantes.php*/
    height: 20px;
    width: 20px;
    text-align: center;
}
.tabla_3{/*ultima.php*/ 
	width: 20%; 
	margin: auto;
	margin-top:  3%;
}
.tema_1{/*temas.php*/ 
	margin:auto; 
	margin-top: 4%; 
	margin-bottom: -4%;
}
.tema_2{/*temas.php*/ 
	width: 40% !important; 
	margin: auto;
}
.temp{/*Temporizador*/
	 font-size:16px;
}
#MenuRes{/*header.html*/
	display:none ;
}